
body {
    background-color: #f5f8f8;
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/45083f51294249.58e8b2d6adfae.jpg");
    background-attachment:scroll;
    background-size:cover ;

  
}